body {
    font-family: sans-serif;
}

#list {
    float: left;
    width: 300px;
    overflow-y: auto;
    height: 600px;
    padding: 5px;
    background: rgb(146, 217, 245);
}

#viewer {
    height: 600px;
    overflow: auto;
    padding: 5px;
    background: rgb(183, 162, 247);
}

.list {
    padding: 10px;
    
}

.ipsum {
    cursor: pointer;
}

.ipsum:hover {
    background: rgb(223, 125, 253);
}

.bodyInfo {
    text-align: center;
}